.title {
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    background-color: peachpuff;
    color: cornflowerblue;
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.desc {
    font-weight: 600;
    font-style: italic;
}

li {
    padding: 5px;
}